@media screen and (max-width: 576px) {
  .carosel_texts {
    text-align: center;
  }
  .corousel_heading {
    font-size: 18px !important;
    font-weight: 500;
  }
  .corousel_paragraph {
    font-size: 14px !important;
  }
  .corousel_button {
    width: 100px !important;
    font-size: 14px;
    /* text-align: center; */
    color: #fff;
    background-color: #3f87f5;
    margin-bottom: 40px;
    border: none;
    margin: 0 auto;
  }

  /* second section */
  .section_two {
    margin-top: 80px !important;
  }
  .second_1st_div {
    width: 90%;
    margin: 0 auto;
  }
  .second_2nd_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
  }

  /* third section starts */
  .section_three {
    margin-top: 80px !important;
  }
  .third_cards_parent_div {
    /* position: relative; */
  }
  .third_3rd_card {
    width: 50%;
    margin: 10px auto !important;
    padding: 10px 10px;
  }
  .third_3rd_card_upper {
    width: 50% !important;
    margin: 10px auto !important;
  }

  /* forth section start */
  .section_forth {
    margin-top: 80px !important;
  }
  #forth_card {
    width: 80%;
    margin: 5px auto;
  }

  /* fifth section start */
  .fifth_section {
    margin-top: 80px !important;
  }
  .accrodian_sm_width {
    width: 80%;
    margin: 0 auto;
  }

  /* footer section start */
  .footer_section {
    /* background-color: #0b0d17; */
    margin-top: 80px;
    padding: 30px 50px;
  }
  .footer_left {
    text-align: center;
  }

  .footer_right {
    /* margin: 10px auto !important; */
    text-align: center;
    margin-left: 20px !important;
  }
  .footer_right > p {
    font-size: 20px;
  }
}
