@media screen and (max-width: 576px) {
  .carousel-item {
    /* width: 100%; */
    /* height: 80vh; */
  }
  .banner_img {
    /* height: 60vh; */
  }

  .carosel_texts {
    text-align: center;
    /* width: 500px; */
    /* display: flex; */
    /* justify-content: center !important; */
    /* margin: 0 auto !important; */
    /* align-items: center !important; */
    /* display: block !important; */
  }
  .corousel_heading {
    font-size: 18px !important;
    font-weight: 500;
    /* width: 500px; */
  }
  .corousel_paragraph {
    font-size: 14px !important;
  }
  .corousel_button {
    width: 100px !important;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #3f87f5;
    margin-bottom: 40px;
    border: none;
    margin: 0 auto;
  }
}
