@media screen and (max-width: 576px) {
  .carosel_texts {
    text-align: center;
  }
  .corousel_heading {
    font-size: 18px !important;
    font-weight: 500;
  }
  .corousel_paragraph {
    font-size: 14px !important;
  }
  .corousel_button {
    width: 100px !important;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #3f87f5;
    margin-bottom: 40px;
    border: none;
    margin: 0 auto;
  }
}
